Repository anyscale/terraform-kubernetes-anyscale-foundation-modules, pull requests merged in 2025-01, with the labels that each got.

#10 upd: remove warning note for EKS private networking
  README.md
  examples/aws/eks-private/README.md
Labels: documentation, examples

#9 upd: AWS EKS Public update for changes to Anyscale helm chart
  .github/CODEOWNERS
  examples/aws/eks-public/README.md
  examples/aws/eks-public/main.tf
  examples/aws/eks-public/outputs.tf
Labels: documentation, examples, github

#11 upd: General cleanup
  README.md
  examples/aws/eks-private/outputs.tf
  examples/aws/eks-public/main.tf
  examples/aws/eks-public/outputs.tf
  modules/anyscale-k8s-helm/README.md
  modules/anyscale-k8s-helm/helm-aws-loadbalancer.tf
  modules/anyscale-k8s-helm/variables.tf
Labels: documentation, examples, terraform
