Repository anyscale/terraform-kubernetes-anyscale-foundation-modules, pull requests merged in 2025-05, with the labels that each got.

#23 add Azure AKS new_cluster example
  CHANGELOG.md
  examples/aws/eks-existing/README.md
  examples/aws/eks-existing/outputs.tf
  examples/aws/eks-private/README.md
  examples/aws/eks-private/outputs.tf
  examples/aws/eks-public/README.md
  examples/aws/eks-public/outputs.tf
  examples/azure/aks-new_cluster/README.md
  examples/azure/aks-new_cluster/aks.tf
  examples/azure/aks-new_cluster/main.tf
  examples/azure/aks-new_cluster/outputs.tf
  examples/azure/aks-new_cluster/sample-values_nvdp.yaml
  examples/azure/aks-new_cluster/variables.tf
  examples/azure/aks-new_cluster/versions.tf
  examples/gcp/gke-existing_cluster/README.md
  examples/gcp/gke-existing_cluster/outputs.tf
  examples/gcp/gke-new_cluster/README.md
  examples/gcp/gke-new_cluster/outputs.tf
Labels: documentation, enhancement, examples

#24 upd: Azure Example readme update
  CHANGELOG.md
  examples/azure/aks-new_cluster/README.md
Labels: documentation

#25 Brent/azure readme upd
  CHANGELOG.md
  examples/azure/aks-new_cluster/README.md
Labels: documentation, examples
