Repository anyscale/terraform-kubernetes-anyscale-foundation-modules, pull requests merged in 2025-03, with the labels that each got.

#15 example: add gke-public
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  examples/aws/eks-existing/README.md
  examples/aws/eks-private/README.md
  examples/aws/eks-public/README.md
  examples/gcp/gke-existing_cluster/README.md
  examples/gcp/gke-new_cluster/README.md
  examples/gcp/gke-new_cluster/gke.tf
  examples/gcp/gke-new_cluster/main.tf
  examples/gcp/gke-new_cluster/outputs.tf
  examples/gcp/gke-new_cluster/sample-values_nginx_gke_private.yaml
  examples/gcp/gke-new_cluster/sample-values_nginx_gke_public.yaml
  examples/gcp/gke-new_cluster/variables.tf
  examples/gcp/gke-new_cluster/versions.tf
  modules/anyscale-k8s-configmap/README.md
  modules/anyscale-k8s-helm/README.md
  modules/anyscale-k8s-namespace/README.md
  modules/anyscale-k8s-persistent-volume/README.md
  trivy.yaml
Labels: documentation, examples, terraform

#18 upd: GKE new_cluster - Add implicit depends_on for IAM binding
  examples/gcp/gke-new_cluster/main.tf
Labels: documentation, examples

#17 upd: gke-new_cluster example to make filestore module optional
  examples/gcp/gke-new_cluster/README.md
  examples/gcp/gke-new_cluster/main.tf
  examples/gcp/gke-new_cluster/outputs.tf
  examples/gcp/gke-new_cluster/variables.tf
Labels: documentation, enhancement, examples

#19 upd: Add validation to gke_cluster_name
  examples/gcp/gke-new_cluster/README.md
  examples/gcp/gke-new_cluster/variables.tf
Labels: documentation, examples
